# Abaikan file verifikasi hilltopads
725ec8ec55c9c400dd9f.txt

# abaikan file verifikasi monetag
sw.js

# abaikan file daftar halaman yang akan di upload besok
daftar-halaman-yang-akan-di-upload.md